            <div class="join_open">
                <div class="join_classfy_wrap">
                    <div class="join_classfy">
                        <div class="join_buyer">
                            <img src="img/bg_sec01_04.png">
                            <a href="buyer_join">일반 회원가입</a>
                        </div>
                        <div class="join_seller">
                            <img src="img/bg_sec01_02.png">
                            <a href="seller_join">판매자 회원가입</a>
                        </div>
                    </div>
                </div>
            </div>