            <div class="join_open">
                <div class="join_classfy">
                    <ul>
                        <li><a href="buyer_join">일반 회원가입</a></li>
                        <li><a href="seller_join">판매자 회원가입</a></li>
                    </ul>
                </div>
            </div>