        <section class="login_section">
            <article class="login_left">
                <div class="login_txt_top">서문시장에서<br> 열리는 이벤트에 참가해보세요</div>
                <div class="login_txt_mid">누구나 쉽게 연령제한 없이 참가할 수 있습니다. <br>다양한 행사에 참여하여 축제를 더 다양하게 즐겨보세요.</div>
                <div class="login_img">
                    <img src="../img/img_smart.jpg">
                    <img src="../img/img_tour.jpg">
                </div>
            </article>
            <article class="login_right">
                <h1 class="login_h1">서문야시장</h1>
                <div class="login_account">
                    <form class="login_form">
                        <p class="login_txt_account"><input placeholder="아이디 or E-mail 주소"></p>
                        <p class="login_txt_password"><input placeholder="비밀번호"></p>
                        <div class="login_checkbox"><input type="checkbox">로그인 상태 유지</div>
                        <div class="login_btn"><a href="">로그인</a></div>
                        <div class="login_register"><a href="join"><span>회원가입</span></a></div>
                        <div class="kakao_btn" id="login" onclick="javascript:kakaoLogin();">
                            <img src="img/kakao_login_medium_narrow.png">
                        </div>
                    </form>
                </div>
            </article>
        </section>