        <section>
            <h2 style="text-align: center; padding-top:50px ; font-family: 'Jua', sans-serif;">공지사항 작성하기</h2>
            <form method="POST" action="/notice_write" style="height: 400px ; margin-top : 100px">
            <table>
                <tr>
                    <label style="color: white; padding-left: 200px;">공지사항 제목</label>
                    <label style="color: white; float: right; padding-right: 150px;">공지사항 내용</label>
                    <td class="ti">
                        <input name="notice_title" type="text" id="title">
                        <span style="color: white;">(※ 최대 10자 이내)</span>
                    </td>
                    <td>
                        <textarea name="inner_content" type="text" id="inner_content">
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td  colspan="2">
                        <input type="submit" value="저장" id="save">
                        <input type="button" value="뒤로 가기" onclick="javascript:location.href='/'">
                    </td>
                </tr>
            </table>
        </form>
        </section>


    <% if(typeof errs !== 'undefined'){ %>
        <% errs.forEach((err)=>{ %>
            <h3><%=err.param%> : <%=err.msg%></h3>
        <% }) %>
    <% } %>
