        <section class="intro_m_img_pic_wrap">
            <div class="intro_m_img_pic">
                <div class="intro_m_banner">
                    <div>
                        서문시장 야시장
                    </div>
                    <div>
                        Night Market
                    </div>
                </div>
            </div>
        </section>



        <section class="intro_m_img">
            <h1 class="intro_top_title">Intro</h1>
            <article class="intro_m_img_wrap">
                <div class="intro_m_img_article">
                    <div class="intro_img1"></div>
                </div>
                <div class="intro_m_text">
                        <div class="intro_m_text_div1">
                            <p><span class="intro_hidden">전 세계인과 함께하는, </span>대한민국 대표 야시장<br>
                                ‘<span class="intro_pink intro_s20 intro_bold">서문시장 야시장</span>’<br>
                                여러분과 함께 만들어가는 <span class="intro_purple intro_s20 intro_bold">夜한 테마파크!</span>
                            </p>
                        </div>
                        <div class="intro_m_text_div2">
                            <p>서문시장 야시장은 <span class="intro_hidden">2016년 6월에 개장한,</span><br>
                                총거리 350M에 달하는 <span class="intro_pink intro_s20 intro_bold">대형 야시장</span>입니다.<br><br class="intro_m_none">
                                
                                <span class="intro_hidden">우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여 </span>
                                <span class="intro_m_none">총 80대의 매대에서</span> <br> 
                                <span class="intro_sky intro_s20 intro_bold">다양한 먹거리, 살거리</span>를 판매<span class="intro_hidden">하며
                                매일 저녁, 시민과 </span><br>관광객에게 즐거움을 선사하는<br>
                                <span class="intro_green intro_s20 intro_bold">복합문화공간</span>입니다.<br><br>
                                
                                <span class="intro_hidden intro_m_none">특히, 먹거리 일색인 타 야시장과는 달리
                                먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 <br>
                                펼쳐지는 마법같은 관광지이기도 합니다.<br><br>
                                
                                밤이 즐거운 대구 야행, 한옥 체험을 경험할 수 있는 <br>
                                서문 한옥 게스트 하우스, 동성로와 인접한 교동게스트하우스를 함께 운영합니다.
                                </span>
                            </p>
                        </div>
                </div>
            </article>
        </section>





        <section class="intro_m_img1">
            <article class="intro_m_img_wrap2">
                <div class="intro_m_text2">
                    <div class="intro_m_text_div3">
                        <p>연중무휴로 펼쳐지는<br>
                        <span class="intro_purple intro_s20 intro_bold">Fantastic Night Party!</span><br>
                        야시장을 통한 성공적인 창업상단 육성!
                        </p>
                    </div>
                    <div class="intro_m_text_div4">
                        <p>서문시장 야시장은 대구의 밤문화와<br>
                            다양한 첨단 문화예술이 복합되어<span class="intro_hidden m_none"> 어디에서도 찾을 수 없는 경험을 제공합니다.<br>
                            글로벌, 퓨전 먹거리를 비롯하여 대구에서만 찾을 수 있는 독특한 음식</span><br>
                            </span>우리의 추억과 감성을 자극하는<br>
                            <span class="intro_sky intro_s20 intro_bold">다양한 볼거리, 살거리</span>가 즐비합니다.<br class="intro_pc_none"><br class="intro_pc_none">
                            대구로 방문하신다면 <span class="intro_hidden">반드시 찾아가봐야 할 </span>1순위는 <br>
                            단연 ‘<span class="intro_purple intro_s20 intro_bold">서문시장 야시장</span>’입니다.
                        </p>
                    </div>
                </div>
                <div class="intro_m_img_article">
                    <div class="intro_img2">
                </div>
            </article>
        </section>







        <section class="intro_m_img1">
            <article class="intro_title">
                <h1>HISTORY</h1>
            <div class="intro_order">
                <div class="intro_order_wrap">
                    <nav>
                        <ul class="intro_order_wrap_ul1">
                            <li>
                                <h3 class="intro_white intro_s24 intro_bold">1920s</h3>
                            </li>
                        </ul>
                        <ul class="intro_order_wrap_ul2">
                            <li class="intro_m_none">
                                <h2 class="intro_pink intro_s16 intro_right intro_bold">대구 시가지 개발, 확장<span class="intro_hidden"> / 천황당지 못을 매립</span><br>
                                    (서문시장 시초)</h2>
                            </li>
                            <li class="intro_m_none">
                                <h3 class="intro_white intro_s18 intro_left intro_bold">1920</h3>
                            </li>
                            <p class="intro_pc_none intro_white intro_bold">1920 대구시가지 개발, 확장(서문시장 시초)</p>
                        </ul>
                        <ul class="intro_order_wrap_ul3">
                            <li class="intro_m_none">
                                <h3 class="intro_white intro_s18 intro_right intro_bold">1922</h3>
                            </li>
                            <li class="intro_m_none">
                                <h2 class="intro_pink intro_s16 intro_left intro_bold">공설시장 개설허가</h2>
                            </li>
                            <p class="intro_pc_none intro_white intro_bold">1922 공설시장 개설허가</p>
                        </ul>
                    </nav>
                    <nav>
                        <ul class="intro_order_wrap_ul1-2">
                            <li>
                                <h3 class="intro_white intro_s24 intro_bold">1960 ~ 70s</h3>
                            </li>
                        </ul>
                        <ul class="intro_order_wrap_ul2">
                            <li class="intro_m_none">
                                <h2 class="intro_green intro_s16 intro_right intro_bold">첫 화재 발생</h2>
                            </li>
                            <li class="intro_m_none">
                                <h3 class="intro_white intro_s18 intro_left intro_bold">1967</h3>
                            </li>
                            <p class="intro_pc_none intro_white intro_bold">1967 첫 화재 발생</p>
                        </ul>
                        <ul class="intro_order_wrap_ul3">
                            <li class="intro_m_none">
                                <h3 class="intro_white intro_s18 intro_right intro_bold">1970</h3>
                            </li>
                            <li class="intro_m_none">
                                <h2 class="intro_green intro_s16 intro_left">서문시장 2지구 시장 개설</h2>
                            </li>
                            <p class="intro_pc_none intro_white intro_bold">1970 서문시장 2지구 시장 개설</p>
                        </ul>
                    </nav>
                    <nav>
                        <ul class="intro_order_wrap_ul1-3">
                            <li>
                                <h3 class="intro_white intro_s24 intro_bold">1980s</h3>
                            </li>
                        </ul>
                        <ul class="intro_order_wrap_ul2">
                            <li class="intro_m_none">
                                <h2 class="intro_sky intro_s16 intro_right intro_bold">여러번의 준공 이후 지금의 모습을 갖춤</h2>
                            </li>
                            <li class="intro_m_none">
                                <h3 class="intro_white intro_s18 intro_left intro_bold">1982</h3>
                            </li>
                            <p class="intro_pc_none intro_white intro_bold">1982 여러번의 준공 이후 지금의 모습을 갖춤</p>
                        </ul>
                        <ul class="intro_order_wrap_ul3">
                            <li class="intro_m_none">
                                <h3 class="intro_white intro_s18 intro_right intro_bold">1988</h3>
                            </li>
                            <li class="intro_m_none">
                                <h2 class="intro_sky intro_s16 intro_left intro_bold">대형화재 발생 후 진압</h2>
                            </li>
                            <p class="intro_pc_none intro_white intro_bold">1988 대형화재 발생 후 진압</p>
                        </ul>
                    </nav>
                    <nav>
                        <ul class="intro_order_wrap_ul1-4">
                            <li>
                                <h3 class="intro_white intro_s24 intro_bold">2010s</h3>
                            </li>
                        </ul>
                        <ul class="intro_order_wrap_ul2">
                            <li class="intro_m_none">
                                <h2 class="intro_purple intro_s16 intro_right intro_bold">야시장 첫 개장</h2>
                            </li>
                            <li class="intro_m_none">
                                <h3 class="intro_white intro_s18 intro_left intro_bold">2016</h3>
                            </li>
                            <p class="intro_pc_none intro_white intro_bold">2016 야시장 첫 개장</p>
                        </ul>
                        <ul class="intro_order_wrap_ul3">
                            <li class="intro_m_none">
                                <h3 class="intro_white intro_s18 intro_right intro_bold">2017</h3>
                            </li>
                            <li class="intro_m_none">
                                <h2 class="intro_purple intro_s16 intro_left intro_bold">문화체육관광부 '한국 관광의 별'로 선정</h2>
                            </li>
                            <p class="intro_pc_none intro_white intro_bold">2017 문화체육관광부 '한국 관광의 별'로 선정</p>
                        </ul>
                    </nav>
                </div>
            </article>
        </section>