        <section class="food_section">
            <article class="food_title">
                <div class="food_title_left">
                    <div class="food_title_bar"></div>
                    <div class="food_title_txt"><span class="food_s30 food_pink food_bold">F</span><span class="food_s30 food_blue food_bold">o</span><span class="food_s30 food_blue food_bold">o</span><span class="food_s30 food_green food_bold">d</span></div>
                </div>
                <div class="food_title_right">
                    <ul>
                        <li class="food_title_search"><input placeholder="검색어를 입력하세요"></li>
                        <li class="food_search_btn"><button>Search</button></li>
                    </ul>
                </div>
            </article>
            <article class="food_contents_wrap">
                <div class="food_img_wrap">
                    <div class="food_img1 food_more" id="food_btn-modal">
                        <figure>
                            <div>
                                <figcaption class="food_s16 food_white food_bold food_back_purple">차돌야끼소바</figcaption>
                                <figcaption class="food_s14 food_white food_back_gray">고소한 차돌구이와 야끼소바가 섞인 퓨전요리</figcaption>
                            </div>  
                        </figure>
                    </div>

                    <div id="food_modal_behind"></div>

                    <div id="food_modal" class="food_modal-overlay" style="display: none;">
                        <div class="food_modal-window">
                            <div class="food_title">
                                <h2>차돌야끼소바</h2>
                            </div>
                            <div class="food_close-area">X</div>
                            <div class="food_img_detail">
                                <img src="img/maxresdefault (1).jpg">
                            </div>
                            <div class="food_content">
                                <p>가격 : 12,000원</p>
                                <p>최상급 차돌부위를 사용하여 전문 일식 조리사가 만든 수제 소바입니다.</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="food_img2 food_more">
                        <figure>
                            <div>
                                <figcaption class="food_s16 food_white food_bold food_back_green">반반막창</figcaption>
                                <figcaption class="food_s14 food_white  food_back_gray">고소한 막창구이와 매콤한 중독성 있는 불막창</figcaption>
                            </div>
                        </figure>
                    </div>

                    <div class="food_img3 food_more">
                        <figure>
                            <div>
                                <figcaption class="food_s16 food_white food_bold food_back_pink">뉴랍스타 치즈구이</figcaption>
                                <figcaption class="food_s14 food_white  food_back_gray">치즈가 듬뿍 들어간 직화 랍스타 구이</figcaption>
                            </div>
                        </figure>
                    </div>
                    <div class="food_img4 food_more">
                        <figure>
                            <div>
                                <figcaption class="food_s16 food_white food_bold food_back_purple">야채뚱땡 삼겹말이</figcaption>
                                <figcaption class="food_s14 food_white  food_back_gray">즉석철판에 구운 매콤한 특제소스에 불 맛을 낸 삼겹야채말이 </figcaption>
                            </div>
                        </figure>
                    </div>
                    <div class="food_img5 food_more">
                        <figure>
                            <div>
                                <figcaption class="food_s16 food_white food_bold food_back_green">카베츠야끼</figcaption>
                                <figcaption class="food_s14 food_white  food_back_gray">남녀노소 불문하고 오사카에서 매일 먹는 명물 음식</figcaption>
                            </div>
                        </figure>
                    </div>
                    <div class="food_img6 food_more">
                        <figure>
                            <div>
                                <figcaption class="food_s16 food_white food_bold food_back_pink">큐브스테이크</figcaption>
                                <figcaption class="food_s14 food_white  food_back_gray">올리브오일에 숙성해 직화로 구운 소고기 스테이크 </figcaption>
                            </div>
                        </figure>
                    </div>
                    <div class="food_img7 food_more">
                        <figure>
                            <div>
                                <figcaption class="food_s16 food_white food_bold food_back_purple">철판아이스크림</figcaption>
                                <figcaption class="food_s14 food_white  food_back_gray">즉석에서 바로 만들어드리는 수제 철판 아이스크림</figcaption>
                            </div>
                        </figure>
                    </div>
                    <div class="food_img8 food_more">
                        <figure>
                            <div>
                                <figcaption class="food_s16 food_white food_bold food_back_green">팟타이</figcaption>
                                <figcaption class="food_s14 food_white  food_back_gray">태국 거리 곳곳에서 가볍게 사먹을 수 있는 볶음 쌀국수 요리</figcaption>
                            </div>
                        </figure>
                    </div>
                    <div class="food_img9 food_more">
                        <figure>
                            <div>
                                <figcaption class="food_s16 food_white food_bold food_back_pink">또띠아</figcaption>
                                <figcaption class="food_s14 food_white  food_back_gray">클래식한 토마토소스 위에 향긋한 채소 루꼴라가 올라간 피자</figcaption>
                            </div>
                        </figure>
                    </div>

                <div class="food_more_bar">
                    <div id="food_btn_wrap" class="food_back_blue"><a class="food_white food_bold food_s20 food_btn">More +</a></div>
                </div>
            </article>

        </section>