        <ul class="bar_h_login">
            <li>
                <a href="login">
                    <div class="login"></div>
                    <p class="white">Login</p>
                </a>
            </li>
            <li>
                <a href="join">
                    <div class="join"></div>
                    <p class="white">Join</p>
                </a>
            </li>
        </ul>
        <ul class="menu_bar">
            <li><a href="/">Main</a></li>
            <li><a href="intro">Introduce</a></li>
            <li><a href="notice">Notice</a></li>
            <li><a href="food">Food</a></li>
            <li><a href="map">Maps</a></li>
        </ul>
        <ul class="bar_f_sns">
            <li>           
                <a href="https://blog.naver.com/nightseomun">
                    <div class="naver"></div>
                </a>
            </li> 
            <li>
                <a href="https://www.facebook.com/nightseomun/">
                    <div class="facebook"></div>
                </a>
            </li>
        </ul>