        <section class="map_section">
            <article>
                <div class="map_google_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.196479843329!2d128.57833581555457!3d35.868701630151044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565e376c08aad43%3A0xdd7958b01f8ee3e!2z7ISc66y47Iuc7J6lIOyVvOyLnOyepQ!5e0!3m2!1sko!2skr!4v1650607727924!5m2!1sko!2skr" width="100%" height="1000" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </article>
        </section>
        <section class="map_contents">
            <article>
                <div class="map_div_top">
                    <ul>
                        <li class="map_first_li">
                            <div class="map_left"></div>
                            <div class="map_right white bold">
                                <p class="map_s20">주소</p>
                                <p class="map_s16">대구 중구 큰장로26길 45</p>
                            </div>
                        </li>
                        <li class="map_second_li">                            
                            <div class="map_left"></div>
                            <div class="map_right white bold">
                                <p class="map_s20">연락처</p>
                                <p class="map_s16">053-256-6341</p>
                            </div>
                        </li>
                        <li class="map_third_li">                            
                            <div class="map_left"></div>
                            <div class="map_right white bold">
                                <p class="map_s20">찾아오시는 길(주요역)</p>
                                <p class="map_s16">서문시장역 / 신남역 / 달성공원역</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="map_div_bottom">
                    <ul>
                        <li class="map_fourth_li">
                            <div class="map_left"></div>
                            <div class="map_right">
                                <p class="map_s20 map_white map_bold">지도서비스</p>
                                <div>
                                    <a href="https://map.naver.com/v5/"><span></span></a>
                                    <a href="https://map.kakao.com/"><span></span></a>
                                    <a href="https://www.google.co.kr/maps/?hl=ko"><span></span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </article>
        </section>