.food_section{
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    background-color: black;
}


.food_contents{
    width: 100%;
    padding: 100px 0;
    box-sizing: border-box;
}

.food_title{
    margin: auto;
    margin-bottom: 20px;
    width: 1440px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.food_title_left{
    display: flex;
    align-items: center;
    width: 40%;
    padding: 0 20px;
    box-sizing: border-box;
}

.food_title_bar{
    width: 20px;
    height: 46px;
    background-color :  rgba(96,21,192,0.9);
    margin-right:20px;
}

.food_title_txt{
    font-family: 'ROKAFSansMedium';
    width: 80%;
}

.food_title_right{
    display: flex;
    align-items: center;
}

.food_title_right>ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.food_title_search{
    width: 80%;
    height: 100%;
    margin-right: 20px;
}

.food_title_search>input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
}

.food_search_btn{
    height: 100%;
}

.food_search_btn>button{
    border: none;
    outline: none;
    background: none;
    background-color: rgba(124, 124, 124, 0.3);
    color: #fff;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'ROKAFSansMedium';
}


/***************************************/


.food_contents_wrap{
    width: 1440px;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
    display: block;
}

.food_img_wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.food_img_wrap figcaption{
    display: block;
    padding: 8px 20px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: 'ROKAFSansMedium';
}

.food_img_wrap figcaption:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.food_contents_wrap .food_more_bar{
    width: 250px;
    margin: 20px auto;
    text-align: center;
}

.food_more_bar>div{
    padding: 10px;
    border-radius: 10px;
}

.food_more_bar a{
    display: block;
    cursor: pointer;
    font-family :'Jua', sans-serif;
}

.food_img1{
    width: calc(33.33% - 20px);
    margin-right: 20px;
}


.food_img1>figure{
    position: relative;
    width: 100%;
    height: 350px;
    background-image: url(../img/cha.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 20px 0;
    border-radius: 10px;
    cursor: pointer;
}

.food_img1 div{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}


.food_img2{
    width: calc(33.33% - 20px);
    margin-right: 20px;
}

.food_img2>figure{
    position: relative;
    background-image: url(../img/1c9d151d-48a3-4a1d-879c-e0d7f03466ba.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 350px;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    cursor: pointer;
}

.food_img2 div{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.food_img3{
    width: 33.33%;
}

.food_img3 div{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.food_img3>figure{
    position: relative;
    background-image: url(../img/IMG_8456.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 350px;
    margin: 20px 0;
    border-radius: 10px;
    cursor: pointer;
}

.food_img4{
    width: calc(33.33% - 20px);
    margin-right: 20px;
}

.food_img4 div{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.food_img4>figure{
    position: relative;
    background-image: url(../img/KakaoTalk_20161110_161625128.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 350px;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    cursor: pointer;
}

.food_img5{
    width: calc(33.33% - 20px);
    margin-right: 20px;
}


.food_img5 div{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.food_img5>figure{
    position: relative;
    background-image: url(../img/yaki.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 350px;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    cursor: pointer;
}

.food_img6{
    width: 33.33%;
}


.food_img6 div{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}


.food_img6>figure{
    position: relative;
    background-image: url(../img/ya81317_01_1560905405.jpeg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 350px;
    margin: 20px 0;
    border-radius: 10px;
    cursor: pointer;
}

.food_img7{
    width: calc(33.33% - 20px);
    margin-right: 20px;
}


.food_img7 div{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}


.food_img7>figure{
    position: relative;
    background-image: url(../img/ya26383_03_1525622190.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 350px;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    cursor: pointer;
}

.food_img8{
    width: calc(33.33% - 20px);
    margin-right: 20px;
}


.food_img8 div{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}


.food_img8>figure{
    position: relative;
    background-image: url(../img/ya70359_03_1515308335.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 350px;
    margin: 20px 20px 20px 0;
    border-radius: 10px;
    cursor: pointer;
}

.food_img9{
    width: 33.33%;
}

.food_img9 div{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.food_img9>figure{
    position: relative;
    background-image: url(../img/dfasdfasfa.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 350px;
    margin: 20px 0;
    border-radius: 10px;
    cursor: pointer;
}
/* 모달창 띄우기 */

#food_modal .food_modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#food_modal .food_modal-window {
    background: rgba( 69, 139, 197, 0.70 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 450px;
    height: 500px;
    position: absolute;
    top: 200px;
    padding: 10px;
    z-index: 4;
}
#food_modal .food_title {
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: white;
    
}
#food_modal .food_title h2 {
    font-size: 20px;
    display: inline;
}
#food_modal .food_close-area {
    display: inline;
    float: right;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.food_img_detail{
    border: 1px dashed white;
    padding-left: 25px;
}

#food_modal .food_content {
    margin-top: 20px;
    text-shadow: 1px 1px 2px gray;
    color: white;
}

.food_img_detail>img{
    padding: 10px 0;
    width: 400px;
    height: 350px;
}

.food_content>p:first-child{
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 10px;
}

.food_content>p:last-child{
    font-size: 13px;
    padding-bottom: 10px;
}

#food_modal_behind{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: opacity 500ms;
    z-index: 3;
    display: none;
    }

/* 더보기 버튼 클릭 시 상품보이기  */

.food_more{
    display: none;
}

.food_more .active {
    display: block;
}

.food_more.active {
    display: block;
}

.food_btn{
    display: block !important;
}

/*****************************************/

.food_black{
    color: #000;
}

.food_white{
    color: #fff;
}

.food_bold{
    font-weight: bold;
}
.food_back_purple{
    background-color:rgba(96,21,192,0.8);
}

.food_purple{
    color:  rgba(96,21,192,1);
}

.food_back_pink{
    background-color: rgba(255, 64, 179, 0.8);
}

.food_pink{
    color: rgba(255, 64, 179, 1);
}

.food_back_gray{
    background-color: rgba(124, 124, 124, 0.7);
}

.food_gray{
    color: rgba(124, 124, 124, 1);
}

.food_back_green{
    background-color: rgba(0, 189, 139, 0.8);
}

.food_green{
    color:rgba(0, 189, 139, 1);
}

.food_back_blue{
    background-color:rgba(0, 153, 221, 0.8);
}

.food_blue{
    color:rgba(0, 153, 221, 1);
}

.food_s14{
    font-size: 14px;
}

.food_s16{
    font-size: 16px;
}

.food_s20{
    font-size: 20px;
}

.food_s24{
    font-size: 24px;
}

.food_s30{
    font-size: 30px;
}

/**************responsive*************************************/


@media only screen and (max-width: 1440px)
    {
            .food_section{
                width: 100%;
            }

            .food_title
            {width: 100%;}

            .food_contents_wrap{
                width: 100%;
            }



    }

    /*max-width:1440px*/
    /**********************************************************/

    @media only screen and (max-width: 768px)
    {

        .food_title_search{
            width: 70%;
        }

        .food_img_wrap {
            justify-content: space-around;
        }

        .food_img1{
            width: 48%;
            margin-right: 0;

        }

        .food_img2{
            width: 48%;
            margin-right: 0;
        }

        .food_img3{
            width: 48%;
            margin-right: 0;
        }

        .food_img4{
            width: 48%;
            margin-right: 0;
        }

        .food_img5{
            width: 48%;
            margin-right: 0;
        }

        .food_img6{
            width: 48%;
            margin-right: 0;
        }

        .food_img7{
            width: 48%;
            margin-right: 0;
        }

        .food_img8{
            width: 48%;
            margin-right: 0;
        }

        .food_img9{
            display: none;
        }

        .food_img_wrap figcaption:first-child{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .food_img_wrap figcaption:last-child{
            display: none;
        }

        .food_contents_wrap .more_bar{
            margin: 20px auto;
            text-align: center;
        }

        #food_modal .food_modal-window{
            left: 25%;
            width: 350px;
        }

}


/*max-width:768px*/

/********************************************************/
@media only screen and (max-width: 425px){
    .food_title_right{
        width: 60%;
    }

    .food_img_wrap>div{
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .food_title_right>ul{

        padding-right: 10px;
        box-sizing: border-box;
    }
}



/********************************************************/
@media only screen and (max-width: 375px){

    .food_title_search>input{
        font-size: 11px;
    }
}


/*max-width:375px*/

/********************************************************/